@{
    ViewData["Title"] = "Apple Pay Example";
}

<div class="text-center">

    <h1 class="display-4">Apple Pay Example</h1>
    <p>
        <!-- this will be the html element we will attach the apple pay button too -->
        <span class="apple-pay-button apple-pay-button-white hidden"></span>
    </p>

    <!-- this will be the html element we will attach the debug output too -->
    <div id="log-output"></div>

</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            configureApplePay();

        });

        function configureApplePay() {

            // example of passing data, in this example we are calling it a cart id, you can use
            // this id when making calls to your server side to update shipping, tax or any other
            // information when a user changes their payment types or addresses
            var cartId = 1001;

            // enable debug logging which will output details to the browsers console log and or
            // an html element
            OpHps.EnableLogging(true);

            // we will attach the debug logging enabled above to an on page element to display the
            // output
            OpHps.AttachLog('#log-output');


            // this is your unique key that associates your Apple Pay account with openpath and
            // heartland payment systems, which can be found under sites in the OpenPath back
            // office.
            // https://client.openpath.io.
            // for testing purposes, we have provided 10 varified ngrok urls and matching api login
            // ids, which can be found in the readme.md file.
            OpHps.ApiLoginId('TZSdpU2VhaWcTZZ7');

            // attached elements
            OpHps.ApplePay.AttachApplePayButton('.apple-pay-button');

            // attach update enpoints
            OpHps.ApplePay.AttachPaymentMethodSelectedEndpoint('/apple-pay/payment-method/' + cartId);

            // set the return url when a payment is complete
            OpHps.PaymentCompleteReturnUrl('/payment-complete');

            // set excepted credit card networks
            OpHps.ApplePay.Visa(true);
            OpHps.ApplePay.MasterCard(true);

            // set line items
            OpHps.ApplePay.SetTotal("Total", 10.00);

            // show the apple pay button if supported
            OpHps.ApplePay.ShowApplePayButton();

            // declare endpoints
            @*var endpointValidate          = '/v1/apple-pay/validate-merchant/@Model.Integration.ShopDomain/@applePay?.ThreeDSecureApplePayMerchantCertificateThumbprint/@applePay?.ThreeDSecureApplePayMerchantId';
            var endpointShippingContact     = '/v1/apple-pay/shipping-contact/@Model.RequestToken';
            var endpointPaymentMethod       = '/v1/apple-pay/payment-method';
            var endpointShippingMethod      = '/v1/apple-pay/shipping-method/@Model.RequestToken';
            var endpointPaymentAuthorized   = '/v1/apple-pay/payment-authorized/@Model.RequestToken';

            // attach endpoints
            OpenPath.ApplePay.AttachValidateMerchantEndpoint(endpointValidate);
            OpenPath.ApplePay.AttachShippingContactSelectedEndpoint(null);
            OpenPath.ApplePay.AttachPaymentMethodSelectedEndpoint(endpointPaymentMethod);
            OpenPath.ApplePay.AttachShippingMethodSelectedEndpoint(null);
            OpenPath.ApplePay.AttachPaymentAuthorizedEndpoint(endpointPaymentAuthorized);

            // set excepted credit card networks
            OpenPath.ApplePay.AmericanExpress(true);
            OpenPath.ApplePay.Discover(true);
            OpenPath.ApplePay.MasterCard(true);
            OpenPath.ApplePay.Visa(true);

            // set line items
            OpenPath.ApplePay.SetCountryCode("US");
            OpenPath.ApplePay.ClearLineItems();
            OpenPath.ApplePay.AddLineItem("Subtotal", @Model.Checkout.SubtotalPrice);
            OpenPath.ApplePay.AddLineItem("Discount", @Model.Checkout.TotalDiscounts);
            OpenPath.ApplePay.AddLineItem("Shipping", @(Model.Checkout.ShippingLines?.FirstOrDefault() == null ? "0.00" : Model.Checkout.ShippingLines.FirstOrDefault().Price.ToString()));
            OpenPath.ApplePay.AddLineItem("Taxes",    @Model.Checkout.TotalTax?.ToString());
            OpenPath.ApplePay.SetTotal("Total", @Model.Checkout.TotalPrice);*@

            console.log('Completed setting up Apple Pay!');

        }

    </script>

}
